html {
  border: 10px double#49ff18;
  border-radius: 30px;
  margin: auto;
  background-color: black;
}

h1 {
  color: black;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 25px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
// to-do list
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 5px;
  border: 2px solid #49ff18;
  border-radius: 10px;
  background-color: black;
  height: 30%;

  box-shadow: inset 1px 1px 10px 1px;
}
h2 {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}
.todo-list {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;

  padding: 1em;
  box-shadow: inset 1px 1px 5px 1px;
  color: white;
}

.todo-text {
  text-align: center;
  font-size: 2rem;
}

.todo-delete {
  background: white;
  border: none;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
}

.button {
  display: inline-block;
  background-color: blue;
  border-radius: 10px;
  border: 4px double white;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
.button:hover {
  background-color: lightblue;
  color: black;
}
.input {
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 10px;
}
input[type="checkbox"] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
}
//Calculator
.calculator {
  width: 400px;

  background: #333;
  border: 2px solid #555;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 300px;
}

.display {
  font-size: 24px;
  text-align: right;
  background: #444;
  border: none;
  border-radius: 5px;
  color: greenyellow;
  padding: 20px;

  width: 100%;
  height: 80px;
  box-sizing: border-box;
  border: 2px solid #555;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #555;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #777;
}

button:active {
  background: greenyellow;
}
//Calendar
.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000 !important;
}

.react-calendar__tile {
  background-color: #fff;
  color: #222;
  border-radius: 6px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: greenyellow;
  color: blue;
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: blue;
  font-weight: bold;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
  font-weight: bold;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range,
.react-calendar__tile--rangeStart,
.react-calendar__tile--rangeEnd {
  background: blue;
  color: #6f48eb;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.react-calendar__tile--rangeEnd {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

//clock
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock p {
  font-size: 30px;
  border: 2px solid greenyellow;
  width: 25%;
  text-align: center;
  border-radius: 20px;
  background-color: black;
  color: yellowgreen;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #ffffff;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px greenyellow, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}
@media screen and (max-width: 856px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .app-wrapper,
  .calculator,
  .react-calendar {
    width: 90%;
    max-width: none;
    margin: auto;
  }
}
