h1 {
  text-align: center;
}
body {
  background-color: antiquewhite;
  border: 10px double gold;
  border-radius: 30px;
  margin: auto;
  margin-top: 40px;
  width: 90vw;
  height: 90vh;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  background-color: aqua;

  box-shadow: inset 1px 1px 10px 1px;
}

.todo-list {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  background-color: orange;
  padding: 1em;
  box-shadow: inset 1px 1px 5px 1px;
}

.todo-text {
  text-align: center;
  font-size: 2rem;
}

.todo-delete {
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox {
  margin-right: 10px;
}

.button {
  display: inline-block;
  background-color: blue;
  border-radius: 10px;
  border: 4px double white;
  color: #eeeeee;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
}
.button:hover {
  background-color: lightblue;
  color: black;
}
.input {
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 10px;
}
input[type="checkbox"] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid #ccc;
}
